/* public/styles/base.css */

:root{
    --body-font: 14px/1.5 Vidaloka, OdorMeanChey;
    --background-dark: #648813;
    --background: #d8be07;
    --background-light: #ebd489;
    --body: #ede5cc;
    --color: #4d0003;
    --link: #a90409;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--link);
}

a:hover{
    opacity: 0.7;
}

.region{
    max-width: 950px;
    margin: 0 auto;
}

body{
    background: var(--body);
    font: var(--body-font);
    color: var(--color);
}